<!DOCTYPE html>
<html lang="en">

<head>
	<title>About</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="container-fluid">
	<body>
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<h1>Who are we?</h1><br/>
				<div class="col-md-2">
					<%= image_tag "loadingscreen.png", height: '150', width: '150' %>
				</div>
				<div class="col-md-10">
					<br/><p>CATNIP is a coding project created by a Garnet Valley senior student, that will involve creating Java Applets and Android Apps, as well as creating the art for these games. The goal of the website is to practice skills as well as share projects with the world in order to improve. If you're interested in seeing these projects, check out the <a href="Projects.html">Projects</a> page. </p>
				</div>
			</div>
		</div>
	</body>

</div>
</html>
