<!DOCTYPE html>
<html lang="en">

<head>
	<title>Blog</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
	<body>
		<div class="container-fluid">

			<div class="blog-header">
				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-8">
						<h1 class="blog-title">CATNIP Blog</h1>
						<p class="lead blog-description">CATNIP's official blog! Read here to see stories about updates, frustrations, as well as just general things I feel like talking about.</p>
					</div>
					<div class="col-sm-2 blog-sidebar">
					<div class="sidebar-module">
						<h2>Archives</h4>
							<ol class="list-unstyled">
								<li><a href="#">March 2015</a></li>
							</ol>
						</div>
					</div><!-- /.blog-sidebar -->
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					</div>
				<div class="col-sm-8 blog-main">

					<div class="blog-post">
						<h2 class="blog-post-title">First Blog!</h2>
						<p class="blog-post-meta">March 23rd, 2015 by Amy</a></p>

						<p>CATNIP is not quite up and running yet, still in development, but by the looks of it, it's pretty close. Just gotta refine a few things, actually create a functional Android project, get some things in the gallery, and it'll look like an actual website.</p>
					</div>
					<nav>
						<ul class="pager">
							<li><a href="#">Previous</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</nav>

				</div><!-- /.blog-main -->

				

				</div><!-- /.row -->

			</div><!-- /.container -->
	</body>
