<!DOCTYPE html>
<html lang="en">

<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<container>
	<body>
		
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<div class="col-md-4">
					<center><h1>What is CATNIP?</h1></center><br/>
					<center><%= image_tag "loadingscreen.png", height: '150', width: '150' %></center>
					<p align = "center">CATNIP is a project dedicated to creating art and code for (at the moment) basic Java Applet and Android Games.</p>
					<center><a href="/about"><button type="button" class="btn btn-success">About</button></a></center>
				</div>
				<div class="col-md-4">
					<center><h1>See Our Projects!</h1></center><br/>
					<center><%= image_tag "Projects.png", height: '150', width: '150' %></center>
					<p align = "center">View our art and code. Art is usually created through Paint Tool SAI and Photoshop, and code is currently based in Java.</p>
					<center><a href="/java"><button type="button" class="btn btn-success">Java</button></a>   <a href="/android"><button type="button" class="btn btn-success">Android</button></a></center>
				</div>
				<div class="col-md-4">
					<center><h1>Want to Help?</h1></center><br/>
					<center><%= image_tag "AboutUs.png", height: '150', width: '150' %></center>
					<p align = "center">Help contribute to the project by contacting me and suggesting improvements. Helpful critique is appreciated! </p>
					<center><a href="/contact"><button type="button" class="btn btn-success">Contact Us</button></a></center>
				</div>
			</div>
			<br/>
			<br/>
		</div>
	</body>
	
	<div id="full-footer">
		<footer> <div id="footer">
			<container>
				<div class="row">
					<div class="col-md-12">
						<p style="text-align: center" id="copyright-text"> CATNIP 	&copy;2014</p>
					</div>
				</div>
			</container>
		</div></footer>
	</div>




</container>
</html>