<!DOCTYPE html>
<html lang="en">

<head>
	<title>Java</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="row">
		<div class="col-md-2">
			<%= image_tag "Java.png", height: '150', width: '150' %>
		</div>
		<div class="col-md-8">
			<h1>Java Applet Projects</h1><br/>
			<p>Below are all current Java Appletprojects! Some are in-progress, and some are completed. Feel free to leave feedback or ask questions!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<hr size="4">
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<div class="col-md-3">
				<a href="#"><%= image_tag "loadingscreen.png", height: '150', width: '150' %></a>
			</div>
			<div class="col-md-9">
				<a href="#"><h2>Project Title</h2></a><br/>
				<p>Project Description goes here </p>
			</div>
		</div>
	</div>

