<!DOCTYPE html>
<html lang="en">

<head>
  <title>Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="CATNIP.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<container>
<body>
  <div class = "row">
    <div class = "col-md-12">
      <nav class="navbar navbar-default navbar-top" id="no-border-radius">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#"></a></li>
              <li><a href="Index.html">Home</a></li>
              <li ><a href="About.html"></span>About</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="Android.html">Android Projects</a></li>
                  <li><a href="Java.html">Java Applets</a></li>
                </ul>
              </li>
              <li class = "active"><a href="Blog.html">Blog</a></li>
              <li><a href="Art.html">Art</a></li>
              <li><a href="Contact.html">Contact Us</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Submit</button>
            </form>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <center><img src="websitelogo.png" class = "img-responsive" alt="website title"></center>
    </div>

  </div>
  <div class="container">

    <div class="blog-header">
      <div class="row">
        <div class="col-md-8">
          <h1 class="blog-title">CATNIP Blog</h1>
          <p class="lead blog-description">CATNIP's official blog! Read here to see stories about updates, frustrations, as well as just general things I feel like talking about.</p>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-8 blog-main">

        <div class="blog-post">
          <h2 class="blog-post-title">First Blog!</h2>
          <p class="blog-post-meta">March 23rd, 2015 by Amy</a></p>

          <p>CATNIP is not quite up and running yet, still in development, but by the looks of it, it's pretty close. Just gotta refine a few things, actually create a functional Android project, get some things in the gallery, and it'll look like an actual website.</p>
        </div>
        <nav>
          <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </nav>

      </div><!-- /.blog-main -->

      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module">
          <h2>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2015</a></li>
            </ol>
          </div>
      </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
</container>