<!DOCTYPE html>
<html lang="en">

<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="CATNIP.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<container>
	<body>
		<div class = "row">
			<div class = "col-md-12">
				<nav class="navbar navbar-default navbar-top" id="no-border-radius">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="#"></a></li>
								<li class = "active"><a href="Index.html">Home</a></li>
								<li><a href="About.html"></span>About</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="Android.html">Android Projects</a></li>
										<li><a href="Java.html">Java Applets</a></li>
									</ul>
								</li>
								<li><a href="Blog.html">Blog</a></li>
								<li><a href="Art.html">Art</a></li>
								<li><a href="Contact.html">Contact Us</a></li>
							</ul>
							<form class="navbar-form navbar-right" role="search">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search">
								</div>
								<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Submit</button>
							</form>

						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<center><img src="websitelogo.png" class = "img-responsive" alt="website title"></center>
			</div>

		</div>
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<div class="col-md-4">
					<center><h1>What is CATNIP?</h1></center><br/>
					<center><img src="loadingscreen.png" height="150" width="150"></center>
					<p align = "center">CATNIP is a project dedicated to creating art and code for (at the moment) basic Java Applet and Android Games.</p>
					<center><a href="About.html"><button type="button" class="btn btn-success">About</button></a></center>
				</div>
				<div class="col-md-4">
					<center><h1>See Our Projects!</h1></center><br/>
					<center><img src="Projects.png" height="150" width="150"></center>
					<p align = "center">View our art and code. Art is usually created through Paint Tool SAI and Photoshop, and code is currently based in Java.</p>
					<center><a href="Java.html"><button type="button" class="btn btn-success">Java</button></a>   <a href="Android.html"><button type="button" class="btn btn-success">Android</button></a></center>
				</div>
				<div class="col-md-4">
					<center><h1>Want to Help?</h1></center><br/>
					<center><img src="AboutUs.png" height="150" width="150"></center>
					<p align = "center">Help contribute to the project by contacting me and suggesting improvements. Helpful critique is appreciated! </p>
					<center><a href="Contact.html"><button type="button" class="btn btn-success">Contact Us</button></a></center>
				</div>
			</div>
			<br/>
			<br/>
		</div>
	</body>
	
	<div id="full-footer">
		<footer> <div id="footer">
			<container>
				<div class="row">
					<div class="col-md-12">
						<p style="text-align: center" id="copyright-text"> CATNIP 	&copy;2014</p>
					</div>
				</div>
			</container>
		</div></footer>
	</div>




</container>
</html>