<!DOCTYPE html>
<html lang="en">

<head>
	<title>Java</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="CATNIP.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div class = "row">
		<div class = "col-md-12">
			<nav class="navbar navbar-default navbar-top" id="no-border-radius">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="#"></a></li>
							<li><a href="Index.html">Home</a></li>
							<li><a href="About.html"></span>About</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="Android.html">Android Projects</a></li>
									<li class = "active"><a href="Java.html">Java Applets</a></li>
								</ul>
							</li>
							<li><a href="Blog.html">Blog</a></li>
							<li><a href="Art.html">Art</a></li>
							<li><a href="Contact.html">Contact Us</a></li>
						</ul>
						<form class="navbar-form navbar-right" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search">
							</div>
							<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Submit</button>
						</form>

					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<center><img src="websitelogo.png" class = "img-responsive" alt="website title"></center>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<img src="Java.png" height="150" width="150" align="right">
		</div>
		<div class="col-md-8">
			<h1>Java Applet Projects</h1><br/>
			<p>Below are all current Java Appletprojects! Some are in-progress, and some are completed. Feel free to leave feedback or ask questions!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<hr size="4">
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<div class="col-md-3">
				<a href="#"><img src="Generic Project.png" height = "125" width="250" padding-top="10"></a>
			</div>
			<div class="col-md-9">
				<a href="#"><h2>Project Title</h2></a><br/>
				<p>Project Description goes here </p>
			</div>
		</div>
	</div>

	<div style="position: relative">
            <p style="position: fixed; bottom: 0; width:100%; text-align: center" id="copyright-text"> CATNIP 	&copy;2014
            </p>
    </div>